<div class="flex justify-between h-screen bg-[#212121]">
  <!-- <div class="flex-1 flex flex-col overflow-hidden">
    <div class="flex flex-col mt-8 w-[90%] relative left-[5%] p-4">
      <div
        class="relative w-full h-[250px] bg-center bg-cover rounded-lg"
        style="
          background-image: url('https://s3-alpha-sig.figma.com/img/1eb6/5b9d/44abbf3c1e307507fc3830709dc244f7?Expires=1719792000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=GzOOeTzleRmENjIH29dVOq7pIYZjuSOF0Ucg0Jrvd1GVU98fO8Q8X90cxrvck1FrMTUF1kp1yLWPW74zg0IYVrdgUKHNyF~bG5XnACd22wHAXT8WvN2xytIe6~BS5M7dCc31DfHzd5fRyiA7LXhEZHTChDpt9iyKwM9J6S~hjugyzHPzHEFmW7Gnkx7lch58B9ErE6snawy646criXpC~b~uhFq~mjWcuP2JXH4bAw5iO2mj-EWE2THzxCQYG7F8qDLTQ6uw9R2Q4f1FwPP~2pScL6t-CvuE~nVpNEDHze1TL4aPNdwTCZbaNi9bM45C7hozTPL1WlcnCkfCsJ~qKg__');
        "
      >
        <div
          class="absolute inset-0 bg-black bg-opacity-10 backdrop-blur-sm rounded-lg"
        ></div>
        <div class="absolute inset-0 flex items-center justify-center rounded-lg">
          <h1 class="text-white text-4xl font-bold italic">Find Your Community</h1>
        </div>
      </div>
    </div>

    <i
      (click)="onAddGroupClick()"
      class="material-icons cursor-pointer relative left-[6%] text-white mt-8 p-2 bg-purple-500 rounded-lg w-10"
      >add_circle</i
    >

    <div class="flex-1 overflow-y-auto mt-4">
      <div class="left-[5%] flex-col flex mt-2 relative w-[90%] p-4 overflow-hidden">
        <div class="w-full flex flex-row justify-between">
          <h1 class="italic text-purple-500 font-bold text-2xl">Popular Right now</h1>
        </div>
        <div class="slider overflow-x-auto py-2 items overflow-y-hidden">
          <div
            class="flex flex-row space-x-20 items-slide"
            *ngIf="recentGroupsList$ | async as recent"
          >
            <ng-container *ngFor="let group of recent">
              <div class="flex-none w-80 h-80" (click)="onGroupClick(group.groupId)">
                <app-group-list-item [group]="group"></app-group-list-item>
              </div>
            </ng-container>
            <ng-container *ngFor="let group of recent">
              <div
                class="flex-none w-80 h-80 cursor-pointer"
                (click)="onGroupClick(group.groupId)"
              >
                <app-group-list-item [group]="group"></app-group-list-item>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div
        class="left-[5%] flex-col flex mt-10 relative w-[90%] p-4 overflow-hidden mb-12"
      >
        <div class="w-full flex flex-row justify-between mb-6">
          <h1 class="italic text-purple-500 font-bold text-2xl">All Groups</h1>
        </div>
        <div class="grid grid-cols-3 gap-3 w-full">
          <ng-container *ngFor="let group of groupsList$ | async">
            <div
              class="flex-none w-80 h-80 cursor-pointer mb-4"
              (click)="onGroupClick(group.groupId)"
            >
              <app-group-list-item [group]="group"></app-group-list-item>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div> -->
  <div class="overflow-auto w-full p-6 pt-10">
    <app-search-program-input
      class="flex justify-center"
      [searchControl]="filtersOptionsForm.controls.searchQuery"
    ></app-search-program-input>

    <button
      class="flex items-center text-white bg-[#141414] justify-center w-48 h-14 rounded-md"
      (click)="onAddGroupClick()"
    >
      <span class="mr-3">
        <svg
          width="30"
          height="30"
          viewBox="0 0 30 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="30" height="30" rx="4" fill="#333333" />
          <path
            d="M14.8714 6.99963C15.2896 6.99963 15.6286 7.41871 15.6286 7.75836V23.23C15.6286 23.6491 15.2896 23.9888 14.8714 23.9888C14.4532 23.9888 14.1143 23.5697 14.1143 23.23V7.75836C14.1143 7.33928 14.4532 6.99963 14.8714 6.99963Z"
            fill="white"
          />
          <path
            d="M6.37988 15.4946C6.37988 15.0764 6.79896 14.7374 7.13861 14.7374H22.6103C23.0294 14.7374 23.369 15.0764 23.369 15.4946C23.369 15.9127 22.9499 16.2517 22.6103 16.2517H7.13861C6.71953 16.2517 6.37988 15.9127 6.37988 15.4946Z"
            fill="white"
          />
        </svg>
      </span>
      Create a group
    </button>

    <div>
      <ng-container *ngIf="currentUserGroup$ | async as popularGroupsList">
        <h1 class="text-white text-2xl my-8">My groups</h1>

        <p *ngIf="popularGroupsList.length === 0" class="text-white mb-8">
          No group found
        </p>
        <app-group-list-item
          *ngIf="popularGroupsList.length > 0"
          class="flex w-[980px] h-[540px] overflow-auto mb-6"
          [groups]="popularGroupsList"
        ></app-group-list-item>
      </ng-container>
    </div>

    <!-- <div>
      <ng-container *ngIf="popularGroupsList$ | async as popularGroupsList">
        <h1 class="text-white text-2xl my-8">Popular right now</h1>

        <p *ngIf="popularGroupsList.length === 0" class="text-white mb-8">
          No popular group found
        </p>
        <app-group-list-item
          *ngIf="popularGroupsList.length > 0"
          class="flex w-[980px] h-[540px] overflow-auto mb-6"
          [groups]="popularGroupsList"
        ></app-group-list-item>
      </ng-container>
    </div> -->

    <div>
      <ng-container *ngIf="groupsList$ | async as groupsList">
        <h1 class="text-white text-2xl mb-8">All group</h1>
        <p *ngIf="groupsList.length === 0" class="text-white">No group found</p>
        <app-group-list-item
          *ngIf="groupsList.length > 0"
          class="flex w-[980px] h-[540px] overflow-auto"
          [groups]="groupsList"
        ></app-group-list-item>
      </ng-container>
    </div>
  </div>
  <app-side-profile
    *ngIf="userData$ | async as currentUser"
    [currentUser]="currentUser"
    [currentUserProgramCount]="(userProgramCount$ | async)!"
  ></app-side-profile>
</div>
