<div class="flex h-screen bg-[#1E1F3D]">
  <div class="z-50">
    <app-side-navbar></app-side-navbar>
  </div>
  <div class="w-full">
    <div class="relative top-8 w-full">
      <div
        class="flex flex-col w-[90%] relative left-[5%] border p-4 rounded-lg bg-white bg-opacity-15 backdrop-filter backdrop-blur-lg border-black border-opacity-75"
      >
        <div
          class="flex flex-row relative border p-4 rounded-lg bg-white bg-opacity-15 backdrop-filter backdrop-blur-lg border-black border-opacity-75"
        >
          share this link to invite collaborators
          <a class="text-purple-900 underline ml-2 font-bold italic">{{ sessionUrl }}</a>
        </div>
        <div class="flex justify-between mb-2">
          <div class="relative top-6"></div>

          <div class="relative top-4 flex">
            <img
              *ngIf="selectedLanguage === 'python'"
              src="assets/images/icons/python-svgrepo-com.svg"
              style="height: 50px; width: 50px"
            />
            <img
              *ngIf="selectedLanguage === 'javascript'"
              src="assets/images/icons/javascript-svgrepo-com.svg"
              style="height: 50px; width: 50px"
            />
            <img
              *ngIf="selectedLanguage === 'c++'"
              src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png"
              style="height: 50px; width: 50px"
            />
            <img
              *ngIf="selectedLanguage === 'php'"
              src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Twemoji_1f4a9.svg"
              style="height: 50px; width: 50px"
            />
            <mat-form-field appearance="fill" class="ml-2">
              <mat-label>Select a language</mat-label>
              <mat-select
                [(ngModel)]="selectedLanguage"
                (selectionChange)="onSelectedLanguageUpdate()"
              >
                <mat-option [value]="'python'">
                  <div class="icon-with-text">
                    <img
                      src="assets/images/icons/python-svgrepo-com.svg"
                      style="height: 20px; width: 20px; margin-left: 15px"
                    />
                    Python
                  </div>
                </mat-option>
                <mat-option [value]="'javascript'">
                  <div class="icon-with-text">
                    <img
                      src="assets/images/icons/javascript-svgrepo-com.svg"
                      style="height: 20px; width: 20px; margin-left: 15px"
                    />
                    Javascript
                  </div>
                </mat-option>
                <mat-option [value]="'c++'">
                  <div class="icon-with-text">
                    <img
                      src="https://raw.githubusercontent.com/isocpp/logos/master/cpp_logo.png"
                      style="height: 20px; width: 20px; margin-left: 15px"
                    />
                    c++
                  </div>
                </mat-option>
                <mat-option [value]="'php'">
                  <div class="icon-with-text">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Twemoji_1f4a9.svg"
                      style="height: 20px; width: 20px; margin-left: 15px"
                    />
                    php
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="mb-1">
          <div
            #editor
            class="h-[400px] w-full border-0 bg-[#1E1F3D] bg-opacity-50 backdrop-filter backdrop-blur-lg border border-black border-opacity-30"
          ></div>
        </div>
      </div>

      <div class="flex flex-row m-1.5">
        <button
          class="mt-4 relative left-[5%] bg-black text-white font-bold py-1 px-4 rounded mr-5"
          (click)="onRunCodeClick()"
        >
          <mat-icon>play_arrow</mat-icon>
          <span class="relative p-2 bottom-1.5 italic">Run code</span>
        </button>

        <input
          #inputSelect
          type="file"
          id="fileInput"
          style="display: none"
          (change)="onInputFilesSelect($event)"
        />
        <button
          class="mt-4 relative left-[5%] bg-black text-white font-bold py-1 px-4 rounded mr-5"
          (click)="inputSelect.click()"
        >
          <mat-icon>attach_file</mat-icon>
          <span class="relative p-2 bottom-1.5 italic">Select files</span>
        </button>

        <button
          class="mt-4 relative left-[5%] bg-black text-white font-bold py-1 px-4 rounded mr-5"
          (click)="onClearFilesClick()"
        >
          <mat-icon>remove_circle</mat-icon>
          <span class="relative p-2 bottom-1.5 italic">Clear files</span>
        </button>

        <div class="text-red-500 font-bold italic text-sm left-[5%] relative mt-6">
          {{ selectedInputFiles.length }} files selected
        </div>
      </div>
      <p class="relative left-[5%] text-gray-50 text-sm mt-4">
        select output file formats (max 5 files)
      </p>
      <div
        class="overflow-x-auto bg-[#1E1F3D] flex flex-row w-[90%] mt-1 relative left-[5%] border mb-8 border-gray-300 bg-opacity-15 backdrop-filter backdrop-blur-lg border-black border-opacity-75 rounded-lg"
      >
        <div
          *ngFor="let format of fileTypes"
          class="h-full hover:bg-white py-5 w-full relative flex items-center cursor-pointer hover:bg-opacity-25"
          (click)="onAddFormatClick(format)"
        >
          <span
            class="px-2 mr-2 ml-1 border-gray-50 bg-white bg-opacity-15 text-black rounded-full text-black"
          >
            {{
              getSelectedOutputFilesNumbers(format) === 0
                ? ''
                : getSelectedOutputFilesNumbers(format)
            }}
          </span>
          <span class="text-white font-bold italic">{{ format }}</span>
        </div>
      </div>

      <div
        class="flex flex-col w-[90%] mt-1 relative left-[5%] border h-44 max-h-96 border-gray-300 bg-white bg-opacity-15 backdrop-filter backdrop-blur-lg border-black border-opacity-75 rounded-lg"
      >
        <mat-progress-bar
          mode="indeterminate"
          color="accent"
          *ngIf="isLoading"
        ></mat-progress-bar>
        <textarea
          disabled
          *ngIf="codeOutput && codeOutput.status === 0"
          class="h-48 max-h-96 overflow-y-auto bg-[#1E1F3D] bg-opacity-50 backdrop-filter backdrop-blur-lg border border-black border-opacity-30"
        >
      {{ codeOutput.output }}
    </textarea
        >
        <textarea
          disabled
          *ngIf="codeOutput && codeOutput.status !== 0"
          class="h-48 max-h-96 overflow-y-auto text-red-600 bg-[#1E1F3D] bg-opacity-50 backdrop-filter backdrop-blur-lg border border-black border-opacity-30"
        >
      {{ codeOutput.output }}
    </textarea
        >
      </div>
    </div>
  </div>
</div>
