<div class="flex h-screen bg-gray-100" *ngIf="userData$ | async; let currentUser">
  <div class="w-full h-screen p-10 overflow-auto bg-[#212121]">
    <div class="flex gap-2">
      <app-search-program-input
        [searchControl]="filtersOptionsForm.controls.searchQuery"
      ></app-search-program-input>

      <!-- <div
            class="flex flex-row mr-2"
            *ngFor="let availableLangage of AvailableLangagesE"
          >
            <input
              type="checkbox"
              [value]="availableLangage"
              [name]="availableLangage"
              class="p-1 bg-red-700"
              [checked]="(availableLangages$ | async)?.includes(availableLangage)"
              (change)="handleAvailableLangage(availableLangage)"
            />
            <label
              class="flex items-center p-1 bg-white text-purple-500 italic font-bold"
              >{{ availableLangage }}</label
            >
          </div> -->
    </div>
    <ng-container *ngIf="programsList$ | async as programsList">
      <div *ngIf="programsList.length === 0" class="text-white">No program found</div>
      <div *ngFor="let program of programsList">
        <app-program-item-list
          [program]="program"
          [currentUser]="currentUser"
          [homePage]="true"
          (likeClickEvent)="likeProgram($event)"
          (dislikeClickEvent)="dislikeProgram($event)"
          (removeClickEvent)="deleteProgram($event)"
        >
        </app-program-item-list>
      </div>
    </ng-container>
  </div>
  <div>
    <app-side-profile [currentUser]="currentUser"></app-side-profile>
  </div>
</div>
