<div class="flex h-screen bg-gray-100">
  <div class="z-50">
    <app-side-navbar></app-side-navbar>
  </div>

  <div class="w-full">
    <ng-container *ngFor="let program of programsList$ | async">
      <div class="flex">
        <app-program-item-list
          class="w-full"
          [description]="program.description"
          [sourceCode]="program.sourceCode"
          [programmingLanguage]="program.programmingLanguage"
          [inputTypes]="program.inputTypes"
          [outputTypes]="program.outputTypes"
          [user]="program.user"
          [homePage]="true"
        ></app-program-item-list>
        <app-side-profile
          *ngIf="userData$ | async as currentUser"
          [currentUser]="currentUser"
        ></app-side-profile>
      </div>
    </ng-container>
  </div>
</div>
