<div
  class="rounded-lg shadow-lg border backdrop-blur-lg border-transparent overflow-hidden text-white relative w-full max-w-xs md:max-w-sm lg:max-w-md xl:max-w-lg aspect-square m-4"
>
  <img
    [src]="group.imageUrl ? 'http://' + group.imageUrl : anonymousGroupImage"
    class="absolute inset-0 w-full h-full object-cover"
  />
  <div
    class="absolute inset-0 flex flex-col justify-center items-center bg-black bg-opacity-10"
  >
    <div class="text-2xl left-8 z-10 mt-2 text-white absolute w-3/6 bottom-[30px]">
      {{ group.name }}
    </div>
    <div class="flex mt-4 space-x-4">
      <div
        class="flex items-center space-x-1 text-sm left-64 z-10 mt-2 text-white absolute w-3/6 bottom-[30px]"
      >
        <i class="material-icons text-md text-purple-500">group</i>
        <span class="text-md italic text-purple-500">{{ group.members.length + 1 }}</span>
      </div>
      <span
        class="flex items-center space-x-1 text-sm left-60 z-10 mt-2 absolute w-3/6 bottom-[10px] text-md italic font-bold text-purple-500"
        >{{ group.visibility }}</span
      >
    </div>
  </div>
  <div class="custom-shape-divider-bottom-1718737033">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="shape-fill"
      ></path>
    </svg>
  </div>
</div>
