<div class="flex h-screen bg-[#1E1F3D]">
  <div class="z-50">
    <app-side-navbar></app-side-navbar>
  </div>
  <div class="w-full">
    <div
      class="flex flex-col mt-8 w-[90%] relative left-[5%] border p-4 rounded-lg bg-white bg-opacity-15 backdrop-filter backdrop-blur-lg border-black border-opacity-75"
    >
      <div>
        <div
          #editor
          class="h-[400px] w-full border-0 bg-[#1E1F3D] bg-opacity-50 backdrop-filter backdrop-blur-lg border border-black border-opacity-30"
        ></div>
      </div>
    </div>
    <div class="flex-row flex h-[50px] w-full left-[5%] relative mt-4 justify-between">
      <div class="h-[50px] w-full rounded-full flex flex-row">
        <img
          class="h-[50px] w-[50px] rounded-full"
          [src]="
            program?.user?.avatarUrl
              ? 'http://' + program?.user?.avatarUrl
              : 'http://' + anonymousImageUrl
          "
        />
        <div class="ml-2 p-2.5">
          <h2 class="text-md text-gray-100 font-bold italic relative">
            {{ program?.user | userDisplayName }}
          </h2>
        </div>
      </div>
      <div class="flex flex-row relative right-[10%]">
        <div class="flex-row flex ml-5 p-3">
          <i
            (click)="onLikeClick()"
            class="material-icons text-green-500 text-3xl font-bold cursor-pointer"
          >
            {{
              userReaction === ReactionsEnum.LIKE ? 'thumb_up_alt' : 'thumb_up_off_alt'
            }}
          </i>
          <h1 class="ml-2 mt-1.5 text-sm text-green-200">{{ likes }}</h1>
        </div>
        <div class="flex flex-row p-3">
          <i
            (click)="onDislikeClick()"
            class="material-icons text-red-500 text-3xl font-bold cursor-pointer"
          >
            {{
              userReaction === ReactionsEnum.DISLIKE
                ? 'thumb_down_alt'
                : 'thumb_down_off_alt'
            }}
          </i>
          <h1 class="ml-2 mt-1.5 text-sm text-red-200">{{ dislikes }}</h1>
        </div>
      </div>
    </div>
    <div class="text-sm relative left-[5%] text-gray-100 mt-4">Comments</div>
    <div
      class="flex flex-col mt-8 w-[90%] relative left-[5%] rounded-lg overflow-y-auto h-[32%] mb-4 border border-transparent backdrop-blur-lg"
    >
      <ng-container *ngFor="let comment of programComments">
        <div class="second py-2 px-2 bg-[#3B3D5E] mb-4">
          <div class="flex flex-row">
            <img
              [src]="
                comment.user.avatarUrl
                  ? 'http://' + comment.user.avatarUrl
                  : anonymousImageUrl
              "
              class="w-[30px] h-[30px] rounded-full"
            />
            <span class="text2 p-2 mb-1">{{ comment.user.userName }}</span>
            <span class="text2 p-2 mb-1">{{ comment.createdAt }}</span>
          </div>
          <div class="relative flex-row flex justify-between">
            <span class="text3">{{ comment.content }}</span>
            <span
              class="text2 mb-1 cursor-pointer justify-items-end relative mr-4"
              (click)="onReplyClick(comment.commentId)"
              >reply</span
            >
          </div>
          <div *ngIf="replyingToCommentId === comment.commentId" class="mt-2 ml-4">
            <input
              [(ngModel)]="commentReplyFieldText"
              placeholder="Write a reply..."
              class="w-10/12 mr-2 rounded-lg text-white border border-gray-200 backdrop-blur-lg bg-transparent opacity-50 p-2 relative"
            />
            <button
              (click)="onSubmitReply(comment.commentId)"
              class="py-2 px-4 bg-[#1E1F3D] rounded-lg text-white"
            >
              Submit Reply
            </button>
          </div>
        </div>
        <ng-container *ngFor="let reply of comment.replies">
          <div class="second py-2 bg-[#3B3D5E] px-2 mb-4 ml-24">
            <div class="flex flex-row">
              <img
                [src]="
                  reply.user.avatarUrl
                    ? 'http://' + reply.user.avatarUrl
                    : anonymousImageUrl
                "
                class="w-[30px] h-[30px] rounded-full"
              />
              <span class="text2 p-2 mb-1">{{ reply.user.userName }}</span>
              <span class="text2 p-2 mb-1">{{ reply.createdAt }}</span>
            </div>
            <div class="relative flex-row flex justify-between">
              <span class="text3">{{ reply.content }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </div>

    <div class="flex-row flex-row relative left-[5%] w-full">
      <input
        [(ngModel)]="commentFieldText"
        placeholder="add a comment"
        class="w-10/12 mr-2 rounded-lg text-white border border-gray-200 backdrop-blur-lg bg-transparent opacity-50 p-2 relative"
      />
      <button
        [disabled]="!commentFieldText || commentFieldText.trim().length === 0"
        (click)="onCommentClick()"
        (keydown.Enter)="onCommentClick()"
        class="p-2 w-1/12 bg-[#3B3D5E] rounded-lg text-white"
      >
        Comment
      </button>
    </div>
  </div>
  <div class="w-[330px] hidden xl:block">
    <app-side-profile
      *ngIf="userData$ | async as currentUser"
      [currentUser]="currentUser"
    ></app-side-profile>
  </div>
</div>
