<div class="h-[800px] bg-[#1E1F3D] overflow-auto relative">
  <div
    *ngFor="let member of data.members | async"
    class="flex items-center mt-5 mx-4 bg-[#555881] rounded-lg p-3 relative"
  >
    <a
      class="flex items-center cursor-pointer"
      (click)="onViewMemberClick(member.userId)"
    >
      <img
        class="w-[54px] h-[54px] rounded-full object-cover me-5"
        [src]="member.avatarUrl ? 'http://' + member.avatarUrl : anonymousImageUrl"
      />
      <div>
        <p class="text-white">{{ member | userDisplayName }}</p>
      </div>
    </a>
    <button
      class="absolute right-4 text-white bg-[#1E1F3D] rounded-lg p-2"
      (click)="onRemoveMemberClick(member.userId)"
    >
      Remove
    </button>
  </div>
</div>
